// Navigation Styles here

nav {
	.flex(space-around, center);
	width: 100%;
	padding-left: 33%;

	@media @mobile {
		.flex(space-around,center);
		width: 100%;
		padding: 0;
		margin-top: 2.5%;
	}

	a {
		color: black;
		text-decoration: none;
		font-size: @navigationFontSize;

		&:hover{
			color: lighten(black, 50%)
		}
	} // closes a
} //closes nav
